/* Especificidad = 001*/ 
body {
    font-family: "Times New Roman",serif;
}

/* Especificidad = 001*/ 
header{
    background-color: #945100;
    padding:1.5em;
    color:white;
    text-align: center;
    margin-bottom: 0.625em;
}

/* Especificidad = 001*/ 
h2{
    text-align: center;
    padding: 0.20833333333333334em;
    border-style: double;
}

/* Especificidad = 001*/ 
section{
    background-color: antiquewhite;
    border-radius: 0.3125em;
    margin:0.625em;
}

/* Especificidad = 001*/ 
footer{
    background-color: #945100;
    color:white;
    text-align: center;
}

/* Especificidad = 001*/ 
nav{
    background-color: #B33000;
    padding: 1.25em;
}

/* Especificidad = 001*/ 
table,th,td  {
    border: 0.125em solid;
    border-collapse: separate;
    margin: 0.0625em;
}

/* Especificidad = 002*/ 
nav a{
    color: aliceblue;
    margin: auto;
}

/* Especificidad = 012*/ 
nav a:hover{
    background-color:darkgoldenrod ;
    color: aliceblue;
}

/* Especificidad = 002*/ 
section a{
    text-align: center;
}

/* Especificidad = 002*/ 
section ul{
    list-style-type: disclosure-closed;
}

/* Especifidad = 002*/
section img{
   width: 80vw;
   max-width: 20em;
   height: auto;
}