/* Especificidad = 001*/ 
body,main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Especificidad = 001*/ 
nav,footer{
    display: flex;
    flex-wrap: wrap;

}

/* Especificidad = 001*/ 
section{
    display:grid;
    grid-template-areas:
    "title nada"
    "parrafo media"
    "add media2";
    grid-template-columns: 3fr 1fr;
    gap:0.625em;
}

/* Especificidad = 002*/ 
section>p,section>table{
    grid-area:parrafo;
    margin-left:0.3125em;
}

/* Especificidad = 002*/ 
section>form{
    grid-area:add;
    margin-left:0.3125em;
}

/* Especificidad = 002*/ 
section> ul{
    grid-area:add;
}

/* Especificidad = 002*/ 
section>h3{
    grid-area:title;
}

/* Especificidad = 002*/ 
section>img,section>video,section>audio{
    grid-area:media;
}



